
<div class="added_events_block" date="<%= @current_date %>">
   <% @slots.each do |slots| %>
        <% slots.each do |slot| %>
          <% hgt = (slot.end_time.hour - slot.start_time.hour) * 61 + slot.end_time.min - slot.start_time.min%>
          <% top = (slot.start_time.hour) * 61 + slot.start_time.min %>
          <div class="perm_event_block" perm_event_id="<%= slot.id %>"
                 title="<%= slot.title %>"
                 start_time="<%= slot.start_time.strftime('%I:%M%p') %>"
                 end_time="<%= slot.end_time.strftime('%I:%M%p') %>"
                 start_date="<%= slot.start_date %>"
                 end_date="<%= slot.end_date %>"
                 location="<%= slot.location %>"
                 description="<%= slot.description %>"
                 privacy="<%= slot.privacy %>"
                 all_day="<%= slot.all_day %>"
                 repeat="<%= slot.repeat %>"
                 on_days="<%= slot.on_days %>"
                 on_months="<%= slot.on_months %>"
                 on_years="<%= slot.on_years %>"
                 email_notif="<%= slot.email_notif %>"
                 popup_notif="<%= slot.popup_notif %>"
                 style="height:<%= hgt %>px; top:<%= top %>px">
            <div class="added_time">
              <%= slot.title %>
              <span class="added_time_span">
                <%= slot.start_time.strftime('%I:%M%p') %> -
                <%= slot.end_time.strftime('%I:%M%p') %>
              </span>
	    </div>
	  </div>
        <% end %>
   <% end %>
</div>
