
<div class="top_bar">
</div>
<div class="top_bar_bottom"></div>

<div class="window">
  <div class="display_box">

    <div class="left_half">
      <div class="schedule">
        <div class="calendar_bar">
           <span id="next_day">Next Day</span>
        </div>
        <div class="for_adding_events_block"></div>

        <%= render 'list_events' %>
       </div>
    </div>

    <div class="right_half">
      <div class="sub_right_half">
	<!-- my_info includes all my info. as twitter s initial right half -->
	<%= render 'my_info' %>

      </div>

      <div class="popup_right_half">
        <div class="absolute_right">

	  <!-- triggered from clicking at empty slots. includes both --
	    -- adding  -->
	  <%= render 'add_event' %>


	  <!-- triggered from clicking at planned slots. includes --
	    -- viewing detail, edit -->
	  <%= render 'edit_event' %>

          <div class="filtered_events"></div>

        </div>
      </div>
    </div>

  </div>

</div>

<%= javascript_include_tag "calendar" %>

